* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: teal;
}
.container {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin-bottom: 50px;
}
h2 {
  margin: 20px;
}

.navbar {
  background-color: white;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo img {
  width: 60px;
}
.nav_links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.nav_links ul a,
.nav_links ul i {
  font-size: 18px;
  color: black;
}
.art ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 50px;
}
.art ul li {
  list-style: decimal;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 20px;
}
.art ul li h3 {
  background-color: rgb(0, 255, 170);
  color: black;
  padding: 5px;
}
.art ul li h4 {
  padding: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}
.art ul li p {
  background-color: wheat;
  padding: 7px;
}
.art ul li small {
  color: #5a0000;
  font-weight: bold;
}
.art-detail ul {
  border: 1px solid white;
  padding: 15px;
}
.art-detail h4, .art-detail p ,.art-detail small {
  margin-bottom: 15px;
}
.art-detail p{
  color: white;
}
.art-detail small {
  color: rgb(73, 0, 0);
}
.art-detail img {
  width: 350px;
  object-fit: contain;
  margin-bottom: 20px;
}
.register_form {
  text-align: center;
}
.register_form .form-group label {
  display: inline-block;
  width: 120px;
  text-align: right;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}
.register_form .form-group textarea {
  padding: 10px;
  border: none;
  outline: none;
}
.register_form .form-group input {
  padding: 0 5px;
  outline: none;
  width: 300px;
  height: 36px;
}
.register_form .form-group {
  margin-bottom: 10px;
}
.register_btn {
  padding: 11px 30px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
.alert_success {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert_warning {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.user-info {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.user-info span {
  color: white;
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
}

.dropbtn {
  border: none;
  background: none;
  font-size: 16px;
}
.dropbtn i {
  margin-left: 3px;
  font-size: 14px !important;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  font-size: 14px !important;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
