{% extends "base.html" %}

{% block title_page %}
    Register Page
{% endblock title_page %}


{% block body %}
    <h2>Register Page</h2>

    <form class="register_form" method="post">
        {% csrf_token %} 
        
        <div class="form-group">
            <label for="{{form.username.id_for_label}}">Istifadeci adi</label>
            {{form.username}}
        </div>
        <div class="form-group">
            <label for="{{form.password.id_for_label}}">Sifre</label>
            {{form.password}}
        </div>
        <div class="form-group">
            <label for="{{form.confirm.id_for_label}}">Sifreni tekrarla</label>
            {{form.confirm}}
        </div>

        <button class="register_btn"> Qeydiyyatdan kec </button>
    </form>
{% endblock body %}

